<style>
    .email-body {
        font-family: Helvetica, Verdana, sans-serif;
        background: #F9F9F9;
        width: 800px;
        max-width: 800px;
    }

    h2, h3 {
        text-align: center;
        font-weight: lighter;
    }

    span.underline {
        text-decoration: underline;
    }

    div.info {
        text-align: justify;
    }
</style>

<div class="email-body">
    <h2>Registration Form</h2>
    <h3>Ascension Lutheran Preschool</h3>
    <h3>2015 - 2016 School Year</h3>

    <div class="info">
        <p>
            Name of Child: <span class="name underline"><%NameOfChild%></span>&nbsp;&nbsp;&nbsp;
                Date of Birth: <span class="dob underline"><%DateOfBirth%></span>
        </p>

        <p>
            Address: <span class="address underline"><%Address%></span>&nbsp;&nbsp;&nbsp;
                City: <span class="city underline"><%City%></span>&nbsp;&nbsp;&nbsp;
                Zip Code: <span class="zip underline"><%Zip%></span>
        </p>

        <p>
            Telephone #: <span class="telephone underline"><%Telephone%></span>&nbsp;&nbsp;&nbsp;
                Email: <span class="email underline"><%Email%></span>
        </p>

        <p>
            Name of parent(s) or guardian(s): <span class="parents underline"><%Guardians%></span>&nbsp;&nbsp;&nbsp;
                Age of Child on September 30, 2015: <span class="age underline"><%AgeOfChild%></span>
            Sex: <span class="sex underline"><%Sex%></span>
        </p>

        <p>
            Number of days per week of enrollment: <span class="enrollment underline"><%EnrollmentDays%></span>&nbsp;&nbsp;&nbsp;
                Are you interested in Extended Care?: <span class="interest underline"><%ExtendedCareInterest%></span>
        </p>

        <p>
            Extended Care Times: <span class="times underline"><%ExtendedCareTimes%></span>&nbsp;&nbsp;&nbsp;
        </p>

        <p>
            Registration Fee: <span class="fee underline">$45</span>&nbsp;&nbsp;&nbsp;
                Paid On (Office Use Only): <span class="paid-on underline">___________</span>&nbsp;&nbsp;&nbsp;
                Cash/Check/Credit Card: <span class="paid-on underline">_____________</span>
        </p>
    </div>
</div>
