@{
    ViewBag.Title = "Contact Us";
}
<script type="text/javascript" src="~/Scripts/contact-us.js"></script>

<div class="contact-us-container">
    <div class="get-in-touch">
        <br />
        <div class="container">
            <div class="row">
                <div class="span12">
                    <h2>Get In Touch</h2>
                </div>
            </div>
            <div class="row">
                <div class="span3"></div>
                <div class="span6">
                    <p class="indent">
                        A students' experiences in preschool should build a positive attitude, which will enable 
                a smooth transition to school life. Ascension Lutheran Preschool strives to provide a rich, 
                diverse, multicultural program, through activities in language arts, music, free & creative arts, 
                dramatic play, math & science reasoning, and health.
                    </p>

                    <p class="indent">
                        If you have any questions regarding our programs or registration, feel free to contact us at your convenience. 
                    </p>
                </div>
                <div class="span3"></div>
            </div>
            <br />
        </div>
    </div>
    <div class="line-break"></div>

    <div class="message-us-container">
        <div class="container">
            <br />
            <div class="row">
                <div class="span2"></div>
                <div class="span5">
                    <form class="contact-us-validate" id="contact-us-form">
                        <h2>Message Us</h2>
                        <br />
                        <p>
                            <input id="Name" type="text" class="name-line" placeholder="Name (Required)" maxlength="125" required />
                        </p>
                        <p>
                            <input id="Return" type="text" class="return-line" placeholder="Return Email (Required)" maxlength="125" required />
                        </p>
                        <p>
                            <input id="Subject" type="text" class="subject-line" placeholder="Subject" maxlength="125" />
                        </p>
                        <p>
                            <textarea id="Message" class="text-input-area" placeholder="Message (Required)" maxlength="500" required></textarea>
                        </p>
                        <input id="Send" type="button" value="Send" class="btn" />
                    </form>
                </div>

                <div class="span4 contact-us">
                    <p><a href="mailto:ascensionpreschool@hotmail.com"><i class="icon-envelope-alt icon-2x"></i>ascensionpreschool@hotmail.com</a></p>
                    <p><span class="address"><i class="icon-map-marker icon-2x"></i>1479 Morse Rd. Columbus, OH 43229</span></p>
                    <p><a href="tel:16142682010" class="phone"><i class="icon-phone icon-2x"></i>Office: (614) 268-2010</a></p>
                    <p><span class="fax"><i class="icon-print icon-2x"></i>Fax: (614) 268-1164</span></p>
                    <p><a href="https://www.facebook.com/pages/Ascension-Lutheran-Preschool/147568551928235"><i class="icon-facebook-sign icon-2x"></i>Like Us On Facebook</a></p>
                </div>
                <div class="span1"></div>
            </div>
        </div>
    </div>
</div>
