@{
    ViewBag.Title = "Location & Directions";
}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBC07QHkm7xFRu6X9stoRDifMgdxudCB-0&sensor=false"></script>
<script type="text/javascript" src="~/Scripts/google-maps.js"></script>
<style>
    /*bootstrap 2.0 issue*/
    #map-canvas img {
        max-width: none;
    }
</style>

<div class="directions-container">
    <div class="container">
        <br />
        <div class="row">
            <div class="span2"></div>
            <div class="span4">
                <h2>Directions</h2>
                <div>
                    <p class="indent">Ascension Lutheran Church is located at 1479 Morse Road, near the corner of Morse Road & Karl Road.</p>
                    <p class="indent">You can access the preschool by traveling through the parking lot between the church and Haimerl Center.</p>
                    <p class="indent">The preschool is located in the rear of the building.</p>
                </div>
            </div>
            <div class="span4">
                <h2>Mailing Address</h2>
                <div class="map-text">
                    1479 Morse Road<br />
                    Columbus, OH 43229<br />
                    (614) 268-2010
                </div>
            </div>
            <div class="span2"></div>
        </div>
        <br />
    </div>

    <div class="line-break"></div>

    <div class="map-container">
        <div class="container">
            <div class="row">
                <br />
                <div class="span2"></div>
                <div class="google-map span8">
                    <div id="map-canvas" style="width: 770px; height: 560px;"></div>
                    <br />
                </div>
                <div class="span2"></div>
            </div>
        </div>
    </div>

</div>
