@{
    ViewBag.Title = "Location & Directions";
}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBC07QHkm7xFRu6X9stoRDifMgdxudCB-0&sensor=false"></script>
<script type="text/javascript" src="~/Scripts/google-maps.js"></script>
<style>
    /*bootstrap 2.0 issue*/
    #map-canvas img {
        max-width: none;
    }
</style>

<div class="map-container">
    <div class="container">
        <br />
        <div class="location-and-directions row">
            <div class="span4">
                <h2>Directions</h2>
                <div>
                    Ascension Lutheran Church is located at 1479 Morse Road, near the corner of Morse Road & Karl Road.<br />
                    <br />
                    You can access the preschool by traveling through the parking lot between the church and Haimerl Center.<br />
                    <br />
                    The preschool is located in the rear of the building, to the left.<br />
                    <br />
                </div>
                <h2>Mailing Address</h2>
                <div class="map-text">
                    1479 Morse Road<br />
                    Columbus, OH 43229<br />
                    (614) 268-2010
                    <br />
                </div>
            </div>

            <div class="google-map span8">
                <div id="map-canvas" style="width: 770px; height: 560px;"></div>
            </div>
        </div>
    </div>
</div>
