@{
    ViewBag.Title = "Location & Directions";
}
<script type="text/javascript"src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBC07QHkm7xFRu6X9stoRDifMgdxudCB-0&sensor=false"></script>
<script type="text/javascript" src="~/Scripts/google-maps.js"></script>

<div class="location-and-directions">
    <div class="white-box">
        <h4>Directions</h4>
        Ascension Lutheran Church is located at 1479 Morse Road, near the corner of Morse Road & Karl Road.<br /><br />
        You can access the preschool by traveling through the parking lot between the church and Haimerl Center.<br /><br />
        The preschool is located in the rear of the building, to the left.<br /><br />
        <h4>Mailing Address</h4>
        1479 Morse Road<br />
        Columbus, OH 43229<br />
        (614) 268-2010 <br />
    </div>
</div>

<div class="google-map white-box">
    <div id="map-canvas"></div>
</div>