@{
    ViewBag.Title = "Ascension Lutheran Preschool & Extended Care";
}

<script>
    $(function () {
        $("#slides").slidesjs({
            width: 560,
            height: 360,
            start: 1,
            play: {
                active: false,
                effect: "slide",
                interval: 5000,
                auto: true,
                pauseOnHover: true,
                restartDelay: 2500
            }
        });
    });
</script>

<div class="picture-carosel">
    <div id="slides" class="grid-content ">
        <img src="~/Content/Images/slide-1.jpg">
        <img src="~/Content/Images/slide-2.jpg">
        <img src="~/Content/Images/slide-3.jpg">
        <img src="~/Content/Images/slide-4.jpg">
    </div>
</div>

<div class="right-container">
    <div class="grid-content">
        <h4>Welcome to Ascension Lutheran Preschool</h4>
        <div class="grid-text">
            To provide physical, social, emotional, and spritual opportunities for children to grow in a safe, healthy, and positive environment. <br /> <br />
            By providing a success-oriented environment we encourage each child to ask questions and to make choices,
            to grow in self-confidence and self-control, to develop respect for himself/herself and others, 
            and to feel a joy in and curiosity for learning.
        </div>
    </div>
</div>

<div class="bottom-grid">
    <div class="grid-item grid-left">
        <h4>Hours of Operation</h4>
        <div class="grid-text">
            September - May <br /> <br />  
            Monday&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;7:30 AM - 5:30 PM <br /> <br />
            Tuesday&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;7:30 AM - 5:30 PM <br /> <br />
            Wednesday&nbsp;7:30 AM - 5:30 PM <br /> <br />
            Thursday&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;7:30 AM - 5:30 PM <br /> <br />
            Friday&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;7:30 AM - 5:30 PM <br /> <br />
        </div>
    </div> 
    <div class="grid-item grid-center">
        <div class="grid-text">
            <h4> vestibulum id tempor</h4>
            In tempor semper libero, et lacinia diam tincidunt molestie. 
            Curabitur sed lectus metus, in pulvinar mauris. 
            Curabitur mauris tortor, malesuada id viverra et, aliquet vel sem. Aenean a tincidunt tortor. Quisque vitae massa dui. 
            Donec varius bibendum ullamcorper. Pellentesque sed posuere purus.
            Sed consectetur ultricies malesuada. Quisque e
        </div>
    </div>

    <div class="grid-item grid-right">
        <div class="grid-text">
            <h4>Quisque risus enim</h4>
            Phasellus luctus mi nec dui interdum sed ultricies libero mollis. 
            Integer vel ipsum in felis sagittis posuere et quis diam.
            Mauris volutpat mauris luctus purus semper rutrum. 
            Duis tellus urna, vehicula quis lacinia ut, vehicula nec urna. Donec at lacus vitae tellus porta commodo.
            In ut laoreet purus. Fusce justo quam, dictum ut volutpat ac, tincidunt ut nibh.
        </div>
    </div>
</div>
