@{
    ViewBag.Title = "Ascension Lutheran Preschool & Extended Care";
}
<script type="text/javascript" src="~/Scripts/index.js"></script>

<div class="line-break"></div>

<div id="index-slideshow">
    <div class="container">
        <div id="main-title">
            <div class="row">
                <div class="span12">
                    <h2 class="main-heading">Ascension Lutheran Preschool & Extended Care</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="span12">
                <div id="slides" class="picture-carousel">
                    <img src="~/Content/Images/slide-1.jpg">
                    <img src="~/Content/Images/slide-2.jpg">
                    <img src="~/Content/Images/slide-3.jpg">
                    <img src="~/Content/Images/slide-4.jpg">
                    <img src="~/Content/Images/slide-5.jpg">
                    <img src="~/Content/Images/slide-6.jpg">
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
</div>


<div class="line-break"></div>

<div id="index-footer">
    <br />
    <br />
    <div class="container">
        <div class="row maximums">
            <br />
            <div class="span3 hours-wrapper">
                
                <h4>Office Hours</h4>
                <p class="hours">September - May</p>
                <p class="hours">Monday  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 7:30 AM - 5:30 PM</p>
                <p class="hours">Tuesday &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 7:30 AM - 5:30 PM</p>
                <p class="hours">Wednesday &nbsp; 7:30 AM - 5:30 PM </p>
                <p class="hours">Thursday &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 7:30 AM - 5:30 PM</p>
                <p class="hours">Friday &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 7:30 AM - 5:30 PM</p>
                <br />
            </div>

            <div class="span9 mission-wrapper">
                <h4>Our Mission</h4>
                Hello, and welcome to Ascension Lutheran Preschool, the highest quality in early childhood education. 
                We are a nonprofit preschool and extended childcare facility, offering a diverse, age-appropriate curriculum 
                specific to the needs of each child. Our program begins with children 2 1/2 years of age, and fully "potty-trained"
                and is led by a team of highly skilled educators. 
                <br />
                <br />
                It is our philosophy that children must feel approved. Furthermore, we respond to the needs of 
                children by providing a success-oriented environment in which positive words and actions encourage each 
                child to ask questions and to make choices, to grow in self-confidence and self-control, to develop respect 
                for himself/herself and others, and to feel a joy in and curiosity for learning.
                <br />
                <br />
                If you have any questions, please <a href="@Url.Action("ContactUs", "Home")" style="text-decoration:underline;">contact us</a> at your convenience.
            </div>

        </div>
    </div>
    <br />
    <br />
</div>
