@{
    ViewBag.Title = "Ascension Lutheran Preschool & Extended Care";
}


<div class="picture-carosel">
    <div class="grid-content ">
        PICTURE-CAROSEL
    </div>
</div>

<div class="right-container">
    <div class="grid-content">
        RIGHT-PANE
    </div>
</div>

<div class="bottom-grid">
    <div class="grid-item grid-left">
        LEFT-GRID
    </div> 
    <div class="grid-item grid-center">
        CENTER-GRID
    </div>

    <div class="grid-item grid-right">
        RIGHT-GRID
    </div>
</div>
