@{
    ViewBag.Title = "Ascension Lutheran Preschool & Extended Care";
}

<script>
    $(function () {
        $("#slides").slidesjs({
            width: 560,
            height: 360,
            start: 1,
            play: {
                active: false,
                effect: "slide",
                interval: 5000,
                auto: true,
                pauseOnHover: true,
                restartDelay: 2500,
            }
        });
    });
</script>
<script type="text/javascript" src="~/Scripts/index.js"></script>
<div id="index-container">
    <div class="container_12">
        <div class="grid_12">
            <div id="slides" class="picture-carousel ">
                <img src="~/Content/Images/slide-1.jpg">
                <img src="~/Content/Images/slide-2.jpg">
                <img src="~/Content/Images/slide-3.jpg">
                <img src="~/Content/Images/slide-4.jpg">
                <img src="~/Content/Images/slide-5.jpg">
            </div>
        </div>  
        <div class="clear"></div>   
    </div>
    <div class="clear"></div>   
</div>

<div id="footer-container">
    <div class="container_12">
        <div class="grid_12" id="footer">  
            <div class="grid_4 alpha">GRID_4 ALPHA</div>  
            <div class="grid_4"> GRID_4 MIDDLE</div>  
            <div class="grid_4 omega">GRID_4 OMEGA</div>  
        </div> 
        <div class="clear"></div>   
    </div>
</div>