@{
    ViewBag.Title = "Location & Directions";
}
<div class="location-and-directions">
    <div class="white-box">
        <h4>Directions</h4>
        Ascension Lutheran Church is located at 1479 Morse Road, near the corner of Morse Road & Karl Road.<br /><br />
        You can access the preschool by traveling through the parking lot between the church and Haimerl Center.<br /><br />
        The preschool is located in the rear of the building, to the left.<br /><br />
        <h4>Mailing Address</h4>
        1479 Morse Road<br />
        Columbus, OH 43229<br />
        (614) 268-2010 <br />
    </div>
</div>

<div class="google-map white-box">
    <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Ascension+Lutheran+Pre-School,+1479+Morse+Road,+Columbus,+OH+43229&amp;sll=40.069862,-82.980423&amp;sspn=0.045912,0.090895&amp;ie=UTF8&amp;hq=Ascension+Lutheran+Pre-School,&amp;hnear=1479+Morse+Rd,+Columbus,+Franklin,+Ohio+43229&amp;t=m&amp;cid=17007961672945084666&amp;ll=40.082537,-82.974586&amp;spn=0.063044,0.109863&amp;z=13&amp;iwloc=A&amp;output=embed"></iframe>
    <br />
</div>