@{
    ViewBag.Title = "Registration Information";
}

<div class="registration-container">
    <br />

    <div class="container">
        <div class="row">
            <div class="span12">
                <h2>Register Online </h2>
            </div>
        </div>
        <div class="row">
            <div class="span2"></div>
            <div class="span8">
                <p class="indent">
                    To enroll your child(ren), you will need to complete the registration form below and submit a $45.00 Registration Fee to the Preschool Office. 
                    Payment options include Cash, Check, Visa and Mastercard (Debit/Credit) and can be mailed to the preschool office. You can also download and print off 
                    the form below if you would prefer to deliver/mail it to the preschool as well. Thanks!
                </p>
                <p class="indent">
                    Credit Card Payments can be made by contacting the school office. 
                    Do not send credit card information through the mail or leave it on the school's voicemail. 
                    Once payment is received in the preschool office, you will receive a confirmation of enrollment. 
                </p>
                <p class="indent-center">
                    <i class="icon-file icon-2x"></i>@Html.ActionLink("Download", "DownloadFile", "Home", new { fileId = 1 }, null)
                </p>
            </div>
            <div class="span2"></div>
        </div>
    </div>

    <br />
    <div class="line-break"></div>

    <div class="registration-form-container">
        <div class="container">
            <br />
            <form id="registration-validate">

                <div class="row">
                    <div class="span12">
                        <h2>Registration Form</h2>
                        <br />
                    </div>
                </div>

                <div class="row">
                    <div class="span6">
                        <input id="FullChildName" type="text" class="child-name-line input-xxlarge" placeholder="Name of Child" maxlength="350" required />
                    </div>

                    <div class="span3">
                        <p>
                            <input id="DOB" type="text" class="dob-line" placeholder="Date of Birth (MM/DD/YYYY)" maxlength="50" required />
                        </p>
                    </div>
                    <div class="span3">
                        <div class="btn-group" style="width: 100%" data-toggle="buttons-radio">
                            <p>
                                <button type="button" style="width: 41%" class="malefemale btn">Male</button>
                                <button type="button" style="width: 41%" class="malefemale btn">Female</button>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="span3">
                        <p>
                            <input id="Address" type="text" class="address-line input-large" placeholder="Address" maxlength="500" required />
                        </p>
                    </div>
                    <div class="span3">
                        <p>
                            <input id="City" type="text" class="city-line" placeholder="City" maxlength="75" required />
                        </p>
                    </div>

                    <div class="span3">
                        <p>
                            <input id="Zip" type="text" class="zip-line" placeholder="Zip Code" maxlength="9" required />
                        </p>

                    </div>

                    <div class="span3">
                        <p>
                            <input id="AgeChild" type="text" class="age-line input-large" placeholder="Child's Age on 09/30/2013" maxlength="2" required />
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="span6">
                        <p>
                            <input id="Guardians" type="text" class="guardians-line input-xxlarge" placeholder="Name(s) of Parents or Guardians" maxlength="500" required />
                        </p>
                    </div>
                    <div class="span3">
                        <p>
                            <input id="Telephone" type="text" class="phone-line input-large" placeholder="Telephone Number" maxlength="500" required />
                        </p>
                    </div>
                    <div class="span3">
                        <p>
                            <input id="Email" type="text" class="email-line input-large" placeholder="Email" maxlength="500" required />
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="span4" style="text-align: left;">
                        Number of Days per Week of Enrollment:
                    <div class="btn-group" style="width: 100%" data-toggle="buttons-radio">
                        <p>
                            <button type="button" style="width: 20%" class="enrollment btn">2</button>
                            <button type="button" style="width: 20%" class="enrollment btn">3</button>
                            <button type="button" style="width: 20%" class="enrollment btn">4</button>
                            <button type="button" style="width: 20%" class="enrollment btn">5</button>
                        </p>
                    </div>
                    </div>
                    <div class="span3">
                        Interested in Extended Care?
                    <div class="btn-group" style="width: 100%" data-toggle="buttons-radio">
                        <p>
                            <button type="button" style="width: 41%" id="ExtendedCareYes" class="extended-care btn">Yes</button>
                            <button type="button" style="width: 41%" id="ExtendedCareNo" class="extended-care btn">No</button>
                        </p>
                    </div>
                    </div>
                    <div class="span3">
                    </div>
                    <div class="span2"></div>
                </div>

                <div class="row">
                    <div class="span12">
                        <input id="DaysTimes" style="width: 100%" type="text" class="extended-care-line input-xxlarge" placeholder="Please List Extended Care Days & Times" maxlength="500" />
                    </div>
                </div>

                <br />

                <div class="row">
                    <div class="span1">
                        <input id="RegSend" type="button" value="Send" class="btn" />
                    </div>
                </div>

            </form>
        </div>

    </div>

    <div id="success-modal" class="modal hide fade">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <i class="icon-2x icon-check-sign" style="color:#000000;"></i><h2>Registration Sent</h2>
        </div>
        <div class="modal-body">
            <p class="indent">
                We've recieved your registration form.                  
            </p>
            <p class="indent">We will contact you once payment has been recieved. Thank You! </p>
        </div>
        <div class="modal-footer">
            <button id="success-close" class="btn modal-close">Close</button>
        </div>
    </div>

    <div id="error-modal" class="modal hide fade">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <i class="icon-2x icon-exclamation-sign" style="color:#000000;"></i><h2>Registration Error</h2>
        </div>
        <div class="modal-body">
            <p class="indent">
                Oops! There has been an error submitting your registration. Please verify the information entered is valid and complete.
            </p>
            <p class="indent">
                If this issue persists, please contact Ascension Lutheran Preschool directly. We apologize for any inconvieniance.
            </p>
        </div>
        <div class="modal-footer">
            <button id="error-close" class="btn modal-close">Close</button>
        </div>
    </div>


</div>
