@{
    ViewBag.Title = "School Calendar";
}
<div id="calendar-container">
    <br />
    <div class="container">
        <div class="row">
            <div class="span1"></div>
            <div id="calendar" class="span10"></div>
            <div class="span1"></div>
        </div>
    </div>

    <div class="container">
        <br />
        <div class="row">
            <p class="indent-center">
                <i class="icon-file icon-2x"></i>@Html.ActionLink("Download", "DownloadFile", "Home", new { fileId = 2 }, null)
            </p>
        </div>
    </div>

</div>

