@{
    ViewBag.Title = "Who We Are";
}
<script type="text/javascript" src="~/Scripts/staffandfaculty.js"></script>

<div id="staff-and-faculty-container">
    <br />

    <div class="container">
        <div class="row">
            <div class="span12">
                <h2>Who We Are</h2>
            </div>
        </div>

        <div class="row">
            <div class="span3 bio-pic" id="1-0">
                <img src="~/Content/Images/mary_lynne.jpg">
                <div class="bio-text">
                    <strong>Mary Lynne Magnacca</strong>
                    <span class="role">Preschool Administrator</span>
                </div>
            </div>

            <div class="span8">
                <h4 class="mission">We provide physical, social, emotional, and spritual opportunities for children to grow in a safe, healthy, and positive environment.</h4>
                <br />
                <div class="welcome-message">
                    <p>
                        On behalf of our preschool, I welcome you to our website, and encourage you to explore everything we have to offer. Our dedicated teaching staff averages over 10
                         years of experience.
                    </p>
                    <p>
                        We respond to the needs of children by providing a success-oriented environment in which positive words and actions encourage each child to ask questions 
                        and grow in their curiosity for learning.
                    </p>
                    <p>
                        Our site contains information on  our program, staff & faculty, and registration. If you have any questions, please 
                        <a href="@Url.Action("ContactUs", "Home")" style="text-decoration:underline;">contact us</a> at your convenience.
                    </p>
                    <br />
                    <p>Sincerely,</p>
                    <p class="signiture">Mary Lynne Magnacca, Preschool Adminstrator</p>
                </div>

            </div>
        </div>
    </div>

    <br />
    <div class="line-break"></div>
    <br />

    <div class="container">

        <div class="row">
            <div class="span3 bio-pic" id="1-1">
                <img src="~/Content/Images/katie_finch.JPG">
                <div class="bio-text">
                    <strong>Katie Finch</strong>
                    <span class="role">Preschool Secretary</span>
                </div>
            </div>

            <div class="span3 bio-pic" id="1-2">
                <img src="~/Content/Images/janette_gerdeman.JPG">
                <div class="bio-text">
                    <strong>Janette Gerdeman</strong>
                    <span class="role">Lead Teacher</span>
                </div>
            </div>

            <div class="span3 bio-pic" id="1-3">
                <img src="~/Content/Images/leigh_plymale.JPG">
                <div class="bio-text">
                    <strong>Leigh Plymale</strong>
                    <span class="role">Lead Teacher</span>
                </div>
            </div>

            <div class="span3 bio-pic" id="1-4">
                <img src="~/Content/Images/susan_horton.JPG">
                <div class="bio-text">
                    <strong>Susan Horton</strong>
                    <span class="role">Lead Teacher</span>
                </div>
            </div>

            <div class="span3 bio-pic" id="1-5">
                <img src="~/Content/Images/nancy_antonelli.JPG">
                <div class="bio-text">
                    <strong>Nancy Antonelli</strong>
                    <span class="role">Lead Teacher</span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="span3 bio-pic" id="2-1">
                <img src="~/Content/Images/debbie_hensler.JPG">
                <div class="bio-text">
                    <strong>Debbie Hensler</strong>
                    <span class="role">Lead Teacher</span>
                </div>
            </div>

            <div class="span3 bio-pic" id="2-22">
                <img src="~/Content/Images/rachael_wilshire.JPG">
                <div class="bio-text">
                    <strong>Rachael Wilshire</strong>
                    <span class="role">Assistant Teacher</span>
                </div>
            </div>

            <div class="span3 bio-pic" id="2-3">
                <img src="~/Content/Images/marie_routman.JPG">
                <div class="bio-text">
                    <strong>Marie Routman</strong>
                    <span class="role">Assistant Teacher</span>
                </div>
            </div>

            <div class="span3 bio-pic" id="2-4">
                <img src="~/Content/Images/kathy_burton.JPG">
                <div class="bio-text">
                    <strong>Kathy Burton</strong>
                    <span class="role">Assistant Teacher</span>
                </div>
            </div>
            <div class="span3 bio-pic" id="2-5">
                <img src="~/Content/Images/judi_flanagan.JPG">
                <div class="bio-text">
                    <strong>Judi Flanagan</strong>
                    <span class="role">Assistant Teacher</span>
                </div>
            </div>
        </div>

    </div>
</div>
