@{
    ViewBag.Title = "Staff & Faculty";
}
<script type="text/javascript" src="~/Scripts/staffandfaculty.js"></script>

<div id="staff-container">
    <br /><br />
    <div class="container">

        <div class="row">
            <div id="focused-image" class="span5">
                <img src=""></img>
            </div>

            <div id="bio-content" class="span6">
                <div></div>
            </div>
        </div>
        
        <br /><br />

        <div class="row">
            <div class="span1 bio-pic" id="1-1">
                <div class="bio-wrapper">
                    <img src="~/Content/Images/bio.png">
                    <div class="bio-text">
                        <h3>Mary Lynne Magnacca</h3>
                        <h4>Preschool Administrator</h4>
                        15th year at ALP.  She was a Lead Teacher in the 4 year old program and multi-age 
                        program for 7 years and is beginning her 8th year as Administrator.
                    </div>
                </div>
            </div>
            <div class="span1 bio-pic" id="1-2">
                <div class="bio-wrapper">
                    <img src="~/Content/Images/katie_finch.JPG">
                    <div class="bio-text">
                        <h3>Katie Finch</h3>
                        <h4>Preschool Secretary</h4>
                        11th  year as Preschool Secretary.  Her duties also include substituting in classrooms and lunch room coverage.
                    </div>
                </div>
            </div>
            <div class="span1 bio-pic" id="1-3">
                <div class="bio-wrapper">
                    <img src="~/Content/Images/janette_gerdeman.JPG">
                    <div class="bio-text">
                        <h3>Janette Gerdeman</h3>
                        <h4>Lead Teacher</h4>
                        21st year at ALP and is the Lead Teacher in our 5 year old program.
                    </div>
                </div>
            </div>

            <div class="span1 bio-pic" id="1-4">
                <div class="bio-wrapper">
                    <img src="~/Content/Images/leigh_plymale.JPG">
                    <div class="bio-text">
                        <h3>Leigh Plymale</h3>
                        <h4>Lead Teacher</h4>
                        17th year at ALP as a Lead Teacher in our 4 year old program and the multi-age program. 
                        She is also a AM/PM Extended Care Assistant.
                    </div>
                </div>
            </div>

           <div class="span1 bio-pic" id="1-5">
                <div class="bio-wrapper">
                    <img src="~/Content/Images/susan_horton.JPG">
                    <div class="bio-text">
                        <h3>Susan Horton</h3>
                        <h4>Lead Teacher</h4>
                         10th year at ALP, her 6th as a Lead Teacher in the 3 year old program.
                    </div>
                </div>
            </div>

            <div class="span1 bio-pic" id="1-6">
                <div class="bio-wrapper">
                    <img src="~/Content/Images/nancy_antonelli.JPG">
                    <div class="bio-text">
                        <h3>Nancy Antonelli</h3>
                        <h4>Lead Teacher</h4>
                        15th  year at ALP as a Lead Teacher in our 4 year old program and 25th year of teaching preschool.
                    </div>
                </div>
            </div>

            <div class="span1 bio-pic" id="1-7">
                <div class="bio-wrapper">
                    <img src="~/Content/Images/debbie_hensler.JPG">
                    <div class="bio-text">
                        <h3>Debbie Hensler</h3>
                        <h4>Lead Teacher</h4>
                         13th year at ALP as the Lead Teacher in our 3 year old classroom.
                    </div>
                </div>
            </div>

            <div class="span1 bio-pic" id="1-8">
                <div class="bio-wrapper">
                    <img src="~/Content/Images/rachael_wilshire.JPG">
                    <div class="bio-text">
                        <h3>Rachael Wilshire</h3>
                        <h4>Assistant Teacher</h4>
                        11th year at ALP as an Assistant Teacher in our 4 year old program with Mrs. Antonelli.  She also is an PM Extended Care Assistant.
                    </div>
                </div>
            </div>

            <div class="span1 bio-pic" id="1-9">
                <div class="bio-wrapper">
                    <img src="~/Content/Images/marie_routman.JPG">
                    <div class="bio-text">
                        <h3>Marie Routman</h3>
                        <h4>Assistant Teacher</h4>
                        6th year at ALP as an Assistant Teacher in our 3 year old classroom with Mrs. Hensler.
                    </div>
                </div>
            </div>

            <div class="span1 bio-pic" id="1-10">
                <div class="bio-wrapper">
                    <img src="~/Content/Images/kathy_burton.JPG">
                    <div class="bio-text">
                        <h3>Kathy Burton</h3>
                        <h4>Assistant Teacher</h4>
                        3rd year at ALP.  She is an Assistant Teacher in our 3 year old classroom with Mrs. Horton.
                    </div>
                </div>
            </div>

            <div class="span1 bio-pic" id="1-11">
                <div class="bio-wrapper">
                    <img src="~/Content/Images/judi_flanagan.JPG">
                    <div class="bio-text">
                        <h3>Judi Flanagan</h3>
                        <h4>Assistant Teacher</h4>
                        2nd year at ALP as an Assistant Teacher in our 4 year old program and 
                        the multi-age program with Mrs. Plymale.  She is also a PM Extended Care Assistant.
                    </div>
                </div>
            </div>

        </div>
    </div>

    <br /><br />
</div>
