@{
    ViewBag.Title = "Staff & Faculty";
}
<script type="text/javascript" src="~/Scripts/staffandfaculty.js"></script>

<div id="staff-container">
    <br /><br />
    <div class="container">

        <div class="row">
            <div id="focused-image" class="span5">
                <img src=""></img>
            </div>

            <div id="bio-content" class="span7">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vestibulum malesuada urna, non pulvinar 
                tellus eleifend ut. Duis a porttitor nisi. Nulla velit massa, condimentum posuere pellentesque in, lacinia 
                in leo. Maecenas a lorem nulla, a condimentum magna. Curabitur dictum malesuada ligula, vel posuere mauris 
                ultricies eu. Sed augue sapien, porta id accumsan vel, lacinia a lorem. Integer commodo ante vitae dolor 
                tempor vitae molestie justo volutpat. Sed vel ante et lectus sollicitudin sagittis vel vel ligula. 
                Fusce placerat nisl eget erat ultrices interdum. Nulla facilisi. Suspendisse et diam orci. Nulla pellentesque 
                massa non nisi eleifend in venenatis nibh rhoncus.
            </div>
        </div>
        
        <br /><br />

        <div class="row">
            <div class="span1 bio-pic" id="1-1">
                <div class="bio-wrapper">
                    <img src="~/Content/Images/bio.png">
                </div>
            </div>
            <div class="span1 bio-pic" id="1-2">
                <div class="bio-wrapper">
                    <img src="~/Content/Images/katie_finch.JPG">
                </div>
            </div>
            <div class="span1 bio-pic" id="1-3">
                <div class="bio-wrapper">
                    <img src="~/Content/Images/janette_gerdeman.JPG">
                </div>
            </div>

            <div class="span1 bio-pic" id="2-1">
                <div class="bio-wrapper">
                    <img src="~/Content/Images/judi_flanagan.JPG">
                </div>
            </div>
            <div class="span1 bio-pic" id="2-2">
                <div class="bio-wrapper">
                    <img src="~/Content/Images/katy_burton.JPG">
                </div>
            </div>
            <div class="span1 bio-pic" id="2-3">
                <div class="bio-wrapper">
                    <img src="~/Content/Images/leigh_plymale.JPG">
                </div>
            </div>

            <div class="span1 bio-pic" id="3-1">
                <div class="bio-wrapper">
                    <img src="~/Content/Images/marie_routman.JPG">
                </div>
            </div>
            <div class="span1 bio-pic" id="3-2">
                <div class="bio-wrapper">
                    <img src="~/Content/Images/nancy_antonelli.JPG">
                </div>
            </div>
            <div class="span1 bio-pic" id="3-3">
                <div class="bio-wrapper">
                    <img src="~/Content/Images/rachael_wilshire.JPG">
                </div>
            </div>

            <div class="span1 bio-pic" id="4-1">
                <div class="bio-wrapper">
                    <img src="~/Content/Images/debbie_hensler.JPG">
                </div>
            </div>
            <div class="span1 bio-pic" id="4-2">
                <div class="bio-wrapper">
                    <img src="~/Content/Images/susan_horton.JPG">
                </div>
            </div>
        </div>
    </div>

    <br />
    <br />
</div>
