.picture-carosel {
    width: 35.000em;
    height: 22.5em;
    margin-left: 1.250em;
    margin-top:  1.250em;
    float: left;
    border-radius: 0.313em;
}

img {
    width:100%;
    height:100%;
}

.pictures {
    width:32.500em;
    height:20em;
}

.grid-content {
    color: #2E6A9E; 
    border-radius: 0.313em;
    height:100%;
    width:100%;
    margin: 0 0 0 0;
}

.grid-text{
    font-size: 0.9em;
    text-align: center;
    color: #FFF;
}

.right-container {
    width: 15em;
    height: 20em;
    border-radius: 0.313em;
    padding:  1.250em;
    margin-right:  1.250em;
    margin-top:  1.250em;
    float: right;
    background-image: url('/Content/Images/grey_wash_wall_@2X.png');    
}

.bottom-grid {
    width: 91.25%;
    height: auto;
    max-width: inherit;
    max-height: inherit;
    margin: 1.250em;
    float: left;
    padding: 1.250em;
    background-color: #FFF;
    border-radius: 0.313em;
    height: 40%;
    background-image: url('/Content/Images/grey_wash_wall_@2X.png');    
}

.grid-item {
    margin: 0.250em;
    max-width: 31%;
    min-width: 31%;
    float: left;
    border-radius: 0.313em;
    height: 100%;
    color: #FFF; 
}

.grid-left {
    margin-left: 0.250em;
}

.grid-center {
    margin-left: 1.250em;
    margin-right: 1.250em;
}

.grid-right {
    margin-right: 0.250em;
}