@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {

    body {
        background: #f9f9f9;
    }

    .registration-form-container input {
        box-shadow: none;
    }

    .registration-form-container .btn-group {
        box-shadow: none;
    }

    #map-canvas {
        box-shadow: none;
    }

    .mission-wrapper {
        padding-left: 1.250em;
        padding-right: 1.250em;
        background-color: #f9f9f9;
        color: #000000;
        height: 100%;
        max-height: inherit;
        box-shadow: none;
    }

    .hours-wrapper {
        max-width: 235px;
        text-align: center;
        background-color: #f9f9f9;
        color: #000000;
        box-shadow: none;
        margin-top: 0px;
        margin-left: 0px;
    }

    #index-footer {
        width: 100%;
        background-color: #F9F9F9;
    }

    .slidesjs-pagination {
        display: none;
    }

    .slidesjs-previous {
        display: none;
    }

    .slidesjs-next {
        display: none;
    }


    .maximums {
        text-align: center;
        background-color: #1b8cb6;
        color: #FFFFFF;
    }

    .hours-wrapper, .mission-wrapper {
        background-color: #1b8cb6;
        margin-top: 0px;
        margin-left: 0px;
        color: #FFFFFF;
        font-size: 0.9em;
    }

    .hours {
        padding-left: 2em;
    }

    div.bio-pic img {
        padding-left: 2.3em;
        box-shadow: none;
    }

    .bio-text {
        padding-left: 4.75em;
    }

    .black-bio-text {
        padding-left: 4.75em;
    }

    .hours-wrapper h4 {
        padding-left: 1.9em;
    }

    div.bio-pic {
        margin-right: initial;
        margin-left: initial;
    }

    div.bio-pic:not(#Administrator) {
        width: 200px;
        margin-left: initial;
        margin-right: initial;

    }

    #registration-validate input {
        text-align: center;
        margin-left: 1em;
        margin-right: 1em;
    }

    #registration-validate .input-xxlarge {
        max-width: 90%;
    }

    #registration-validate .input-large {
        max-width: 90%;
    }

    #registration-validate .dob-line, #registration-validate .city-line, #registration-validate .zip-line {
        width: 85%;
    }

    #registration-validate .malefemale button {
        margin-left: 1.2em;
    }

    #registration-validate .enrollment button {
        margin-left: 0.5em;
    }
        
    #registration-validate .extcare-title {
        text-align: center;
    }

    #registration-validate .extcare button {
    }

    #registration-validate .extcare-title {
        font-size: 0.9em;
        margin-left: 0px;
    }

    #registration-validate #daysenrollment {
        font-size: 0.9em;
        width: 100%;
        margin-left: 0px;
    }

    #registration-validate #RegSend {
     width: 90%;
     height: 100%;
     margin-left: 0px;   
    }


    #registration-validate .span4 {
        margin-left: 0.5em;
    }

    #contact-us-form h2 {
        text-align: center;
    }

    #contact-us-form input {
        box-shadow: none;
        text-align: center;
    }

    #contact-us-form .name-line, #contact-us-form .return-line, #contact-us-form .subject-line {
        margin-left: 1.55em;
    }

    #contact-us-form #Message {
        margin-left: 1.55em;
        box-shadow: none;
        width: 77%;
    }

    #contact-us-form #Send {
        margin-left: 1.55em;
    }

    div.contact-info {
        text-align: center;
        font-size: 0.8em;
    }

    .fc-header-title h2 {
        font-size: 1em;
        margin-left: 1em;
        margin-bottom: 1em;
        vertical-align: central;
    }

    div #map-canvas {
        max-width: 100%;
        max-height: 300px;
        box-shadow: none;
    }
}


@media only screen and (max-width: 800px), only screen and (max-device-width: 800px) {
    .slidesjs-pagination {
        display: none;
    }

    .slidesjs-previous {
        display: none;
    }

    .slidesjs-next {
        display: none;
    }

    .hours-wrapper, .mission-wrapper {
        font-size: 0.9em;
    }

    .hours-wrapper {
        text-align: center;
        margin-top: -50px;
        margin-left: 250px;
    }

    .mission-wrapper {
        margin-left: 25px;
        margin-right: 25px;
        max-width: 93%;
        height: 100%;
        max-height: 768px;
    }

    div.bio-pic img {
        box-shadow: none;
        max-width: 768px;
        margin-left: auto;
        margin-right: auto;
    }

    div.bio-pic:not(#Administrator) {
        width: 200px;
        margin-left: auto;
        margin-right: auto;

    }

    div.black-bio-text {
        
    }

    div#Administrator {
        margin-left: auto;
        margin-right: auto;
    }

    .bio-text {
        box-shadow: none;
    }

     #registration-validate input {
        text-align: center;
        margin-left: 1em;
        margin-right: 1em;
    }

    #registration-validate .input-xxlarge {
        max-width: 90%;
    }

    #registration-validate .input-large {
        max-width: 90%;
    }

    #registration-validate .dob-line, #registration-validate .city-line, #registration-validate .zip-line {
        width: 85%;
    }

    #registration-validate .malefemale button {
        margin-left: 1.2em;
    }

    #registration-validate .enrollment button {
        margin-left: 0.5em;
    }
        
    #registration-validate .extcare-title {
        font-size: 0.9em;
        margin-left: 70px;
    }

    #registration-validate #daysenrollment {
        font-size: 0.9em;
        width: 300px;
        margin-left: 30px;
    }

    #registration-validate .extcare button {
    }

    #registration-validate #RegSend {
     width: 100px;
     height: 125%;
     margin-left: 325px;   
    }

    #registration-validate .span4 {
        margin-left: 0.5em;
    }
    
    div.contact-info {
        font-size: 0.8em;
    }

    div #map-canvas {
        max-width: 100%;
        max-height: 480px;
        box-shadow: none;
    }

}
