@media only screen and (max-width: 480px), screen and (max-device-width: 480px) {

    body {
        background: #f9f9f9;
    }

    .registration-form-container input {
        box-shadow: none;
    }

    .registration-form-container .btn-group {
        box-shadow: none;
    }

    #map-canvas {
        box-shadow: none;
    }


    #index-footer {
        width: 100%;
        background-color: #F9F9F9;
    }

    .slidesjs-pagination {
        display: none;
    }

    .slidesjs-previous {
        display: none;
    }

    .slidesjs-next {
        display: none;
    }


    .maximums {
        text-align: center;
        background-color: #1b8cb6;
        color: #FFFFFF;
    }

    .hours-wrapper, .mission-wrapper {
        background-color: #1b8cb6;
        margin-top: 0px !important;
        margin-left: 0.5em !important;
        color: #FFFFFF;
        font-size: 0.9em;
    }

    .hours {
        padding-left: 2em;
    }

    div.bio-pic img {
        padding-left: 2.3em;
        box-shadow: none;
    }

    .bio-text {
        padding-left: 4.75em;
    }

    .black-bio-text {
        padding-left: 4.75em;
    }

    .hours-wrapper h4 {
        padding-left: 1.9em;
    }

    div.bio-pic {
        margin-right: initial !important;
        margin-left: initial !important;
    }

        div.bio-pic:not(#Administrator) {
            width: 200px;
            margin-left: initial !important;
            margin-right: initial !important;
        }

    #registration-validate input {
        text-align: center;
        margin-left: 1em;
        margin-right: 1em;
    }

    #registration-validate .input-xxlarge {
        max-width: 90%;
    }

    #registration-validate .input-large {
        max-width: 90%;
    }

    #registration-validate .dob-line, #registration-validate .city-line, #registration-validate .zip-line {
        width: 85%;
    }

    #registration-validate .malefemale button {
        margin-left: 1.2em;
    }

    #registration-validate .enrollment button {
        margin-left: 0.5em;
    }

    #registration-validate .extcare-title {
        text-align: center;
    }

    #registration-validate .extcare button {
    }

    #registration-validate .extcare-title {
        font-size: 0.9em !important;
        margin-left: 0px !important;
    }

    #registration-validate #daysenrollment {
        font-size: 0.9em !important;
        width: 100% !important;
        margin-left: 0.5em !important;
    }

    #registration-validate #RegSend {
        width: initial !important;
        height: 100%;
        margin-left: 0.5em !important;
    }


    #registration-validate .span4 {
        margin-left: 0.5em;
    }

    #contact-us-form h2 {
        text-align: center;
    }

    #contact-us-form input {
        box-shadow: none;
        text-align: center;
    }

    #contact-us-form .name-line, #contact-us-form .return-line, #contact-us-form .subject-line {
        margin-left: 1.55em;
    }

    #contact-us-form #Message {
        margin-left: 1.55em;
        box-shadow: none;
        width: 77%;
    }

    #contact-us-form #Send {
        margin-left: 1.55em;
    }

    div.contact-info {
        text-align: center;
        font-size: 0.8em;
    }

    .fc-header-title h2 {
        font-size: 1em;
        margin-left: 1em;
        margin-bottom: 1em;
        vertical-align: central;
    }

    div #map-canvas {
        max-width: 100%;
        max-height: 300px;
        box-shadow: none;
    }
}

@media only screen and (max-width: 1279px), screen and (max-device-width: 1279px) {
    .slidesjs-pagination {
        display: none;
    }

    .slidesjs-previous {
        display: none;
    }

    .slidesjs-next {
        display: none;
    }

    div.bio-pic img {
        box-shadow: none;
        max-width: 768px;
        margin-left: auto;
        margin-right: auto;
    }

    div.bio-pic:not(#Administrator) {
        width: 200px;
        margin-left: auto;
        margin-right: auto;
    }

    div.black-bio-text {
    }

    div#Administrator {
        margin-left: auto;
        margin-right: auto;
    }

    .bio-text {
        box-shadow: none;
    }

    #registration-validate input {
        text-align: center;
        margin-left: 1em;
        margin-right: 1em;
    }

    #registration-validate .input-xxlarge {
        max-width: 90%;
    }

    #registration-validate .input-large {
        max-width: 90%;
    }

    #registration-validate .dob-line, #registration-validate .city-line, #registration-validate .zip-line {
        width: 85%;
    }

    #registration-validate .malefemale button {
        margin-left: 1.2em;
    }

    #registration-validate .enrollment button {
        margin-left: 0.5em;
    }

    #registration-validate .extcare-title {
        font-size: 0.9em;
        margin-left: 70px;
    }

    #registration-validate #daysenrollment {
        font-size: 0.9em;
        width: 300px;
        margin-left: 30px;
    }

    #registration-validate .extcare button {
    }

    #registration-validate #RegSend {
        width: 100px;
        height: 125%;
        margin-left: 325px;
    }

    #registration-validate .span4 {
        margin-left: 0.5em;
    }

    div.contact-info {
        font-size: 0.8em;
    }

    div #map-canvas {
        max-width: 100%;
        max-height: 480px;
        box-shadow: none;
    }
}

/* large desktop */
@media (min-width: 1200px) {

}

@media (min-width: 980px) and (max-width: 1199px) {
    .hours-wrapper {
        font-size: 0.9em;
    }
    
    .mission-wrapper {
        font-size: 0.9em;
        max-width: 665px
    }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
    .hours-wrapper {
        width: 240px;
        height: 360px;
        margin-left: auto;
        margin-right: auto;
    }

    .mission-wrapper {
        max-width: 440px;
        margin-right: auto;
        margin-left: 20px;
        max-height: initial;
        height: 100%;
    }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    .hours-wrapper {
        font-size: 0.9em;
        margin-left: auto;
        margin-right: auto;
    }

    .mission-wrapper {
        font-size: 0.9em;
        max-width: 600px;
        margin-right: auto;
        margin-left: auto;
        max-height: initial;
        height: 100%;
    }
}

/* Landscape phones and down */
@media (max-width: 480px) {
    .hours-wrapper {
        max-width: initial;
    }

    .mission-wrapper {
    }
}