nav {
    max-width: inherit;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3.500em;
    padding-top: 0.750em;
    padding-bottom: 0.500em;
    background-color: #3789d0;
    border-radius: 5px;
    border: solid 0.063em #FFF;
}

.nav ul {
    list-style-type: none;
	margin: 0 auto;
	padding: 0;
    text-align: center;
}

.nav li {
	margin: 0 0.313em 0.625em 0;
	padding: 0;
	list-style: none;
	display: inline-block;
    border-right: 0.063em solid #ccc;
}

.nav li:last-child {
    border-right:0em;
}


.nav a {
	padding: 0.188em 0.750em; /* 3px 12px */
	text-decoration: none;
	color: #FFF;
	line-height: 100%;
}

.nav .current a {
    font-weight: bold;
}

@media screen and (max-width: 720px) {
    header {
        text-align: center;
    }

    .nav {
        min-height: 0;
        width:100%;
        max-width: 20.000em;
        margin: 0 auto;
        padding: 0;
    }

    .nav li {
        display:block; /* hide all <li> items */
        margin: 0 auto;
        padding-top: 0.750em;
        padding-bottom: 0.750em;
        border-bottom: 0.063em solid #CCC;
        border-right: none;
    }

    .nav li:last-child {
        border-bottom:0em;
    }

}