@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 200;
    src: local('~Content/Fonts/OpenSans/'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

body {
    font-family: 'Open Sans', Verdana, sans-serif;
    background: #F9F9F9;
}

div.spacer {
    background-color: #8FC73E;
    height: 1em;
}


h2 {
    text-align: center;
}

a, a:visited, a:hover, a:active {
    color: inherit;
}

.navbar {
    margin: 0 auto;
    text-align: center;
}

.navbar .nav, .navbar .nav > li {
    float: none;
    display: inline-block;
    *display: inline; /* ie7 fix */
    *zoom: 1; /* hasLayout ie7 trigger */
    vertical-align: top;
    min-width: 10.250em;
    border-radius: 0px;
}

.span4 {
    text-align: center;
}

div.footer-container {
    width: 100%;
    /*background: #EEEEEE;*/
}

.footer div {
    margin-bottom: 1.250em;
    text-align: center;
    font-size: 0.905em;

}

i {
    padding-right: 0.4em;
}

div.footer div span.address {
    padding-left: 1em;
}