@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 200;
  src: local('~Content/Fonts/OpenSans/'),
       url(http://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

header, footer, nav, section {
    display: block;
}

html, body, h1, ul, li { 
    margin:0;
    padding:0;
    color: #2E6A9E; 
}

header {
    font-family: 'Open Sans', Verdana, Helvetica, Sans-Serif;
    padding-top: 1.00em; /* 16px */
    padding-left: 1.000em;
    padding-bottom: 1.000em; /* 16px */
    color: #FFF;
}

h4 {
    margin-top: 0.125em;
    text-align: center;
    color: #FFF;
}

.footer {
    padding-top: 0.625em;
    margin: 0 auto;
    color: #2E6A9E; 
}