.bio-pic {
    padding-top: 1.000em;
    padding-bottom: 2.000em;
    max-width: 200px;
    max-height: 100%;
    display: block;
}

div.bio-pic img {
    max-width: inherit;
    max-height: 150px;
    display: inherit;
    box-shadow: -0.4em 0.4em 0 rgba(20,20,20,0.4);
}

.administrator-message {
    background-color: #f9f9f9;
}

div.bio-text strong {
    text-align: center;
    min-height: 1.4em;
    display: inherit;
    padding-top: 1.000em;
    color: #FFFFFF;
}

.black-role {
    font-size: 0.9em;
    display: inherit;
    text-align: center;
    color: #000000;
}

.black-bio-text {
    text-align: center;
    min-height: 1.4em;
    display: inherit;
    padding-top: 1.000em;
    color: #000000;
}

span.role {
    font-size: 0.9em;
    display: inherit;
    text-align: center;
    color: #FFFFFF;
}

span.years {
    font-size: 0.8em;
    display: inherit;
    text-align: center;
}

h4.mission {
    color: #717070;
    text-align: center;
    font-size: 1.4em;
    line-height: 1.25;
}

p.signiture {
    font-style: italic;
}

.staff-wrapper {
    background-color: #1b8cb6;
    color: #f9f9f9;
}
