.bio-pic {
    padding: 0.0625em 0.0625em;
    max-width: 140px;
    max-height: 132px;
}

.bio-wrapper {
    opacity: 0.4;
    filter: alpha(opacity=40); /* IE */
}

.bio-text {
    display:none;
}

#focused-image {
    max-width: 400px;
    max-height: 300px;
    width: 400px;
    height: 300px;
}