@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 200;
  src: url('/Content/Fonts/OpenSans/'),
       url(http://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

div.spacer {
    background-color: #8FC73E;
    height: 1em;
}

div.main-container, div.main-title {
    font-family: 'Open Sans', Verdana, sans-serif;
    text-align: center;
}

a, a:visited, a:hover, a:active {
    color: inherit;
}

.navbar{
    margin: 0 auto;
}

.navbar .nav, .navbar .nav > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
    *zoom:1; /* hasLayout ie7 trigger */
    vertical-align: top;
}

.span4 {
    text-align: center;
}

div.footer {
    margin-bottom: 1.250em;
    text-align: center;
}